<h1> Universities </h1>

<div>
There are currently <%= @universities.length %> universities.
</div>

<% @universities.each do |university| %>
  <div>
    <h3><%= link_to university.name, university_path(university) %></h3>
  </div>
  <br>
<% end %>