<div id = 'title'>
	<h1 id="coffeehop"><img id="logo" src="http://uxrepo.com/static/icon-sets/ionicons/png32/512/000000/coffee-512-000000.png">   C O F F E E     &nbsp;     H O P</h1>
	<p id= "subtitle">H O W &nbsp;F U L L &nbsp;I S &nbsp;Y O U R &nbsp;F A V O R I T E &nbsp;C A F E ?</p>
</div>

<hr>

<div id = "navbar">
	<ul>
		<li><a href="/" id="home">H O M E</a></li>
		<li><a href="/home/about/" id="about">A B O U T</a></li>
		<li><a href="/users/new/" id="signup">S I G N U P</a></li>		
	</ul>
</div>

<h3 id="user_num">There are currently <%= @users.count %> users signed up with Coffee Hop:</h3>
<div class="user_list">
	<% @users.each do |user| %>
	  <div class="profile_link">
	    <h3><%= user.username %></h3>
	  <%= link_to "Profile", user_path(user) %>
	  </div>
	  <br>
	<% end %>
</div>