<div id = 'title'>
	<h1 id="coffeehop">C O F F E E     &nbsp;     H O P</h1>
	<p id= "subtitle">H O W &nbsp;F U L L &nbsp;I S &nbsp;Y O U R &nbsp;F A V O R I T E &nbsp;C A F E ?</p>
</div>

<hr>

<div id = "navbar">
	<ul>
		<li><a href="/" id="home">H O M E</a></li>
		<li><a href="/home/about/" id="about">A B O U T</a></li>
		<li><a href="/users/new/" id = "signup">S I G N U P</a></li>		
	</ul>
</div>

<p id="about-text">To spend a large portion of the day downtown, or in another area abundant in coffee shops, visiting as many coffee shops as possible. When coffee hopping, one buys a small coffee/pastry, spends some time in a coffee house, then moves on to another coffee shop to pass the time. (Can also be defined as attempting to sit for as long as possible in a coffee shop without purchasing anything, then moving onto another place when the barista is on to you.)</p>