<div id = 'title'>
	<h1 id="coffeehop">C O F F E E     &nbsp;     H O P</h1>
	<p id= "subtitle">H O W &nbsp;F U L L &nbsp;I S &nbsp;Y O U R &nbsp;F A V O R I T E &nbsp;C A F E ?</p>
</div>

<hr>

<div id = "navbar">
	<ul>
		<li><a href="/" id="home">H O M E</a></li>
		<li><a href="/home/about/" id="about">A B O U T</a></li>
		<li><a href="/users/new/" id = "signup">S I G N U P</a></li>		
	</ul>
</div>


<div id="university_list">
	<ul>
		<li>
			<span class="university" id="pic-1"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" alt="Berkeley"/></span>
		</li>
		<li>
			<span class="university" id="pic-2"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-3"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-4"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-5"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-6"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-7"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-8"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-9"><a href="#"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
	</ul>
</div>