<h1>Coffee Hop</h1>

<a href="/users/new">Login/Signup</a>

<div id="university_list">
	<ul>
		<li>
			<span class="university" id="pic-1"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-2"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-3"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-4"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-5"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-6"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-7"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-8"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
		<li>
			<span class="university" id="pic-9"><img src="http://lorempixel.com/g/600/100/abstract" /></span>
		</li>
	</ul>
</div>