/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #2A2A2A;
    color: white;
}

#title img {
    width: 48px;
    height: 48px;
    position: relative;
    left: 10px;
    top: 10px;
}

 /* for event links on home page*/
li a:link{
	text-align: left;
	padding: 0;
	margin: 0;
	color: white;
	letter-spacing: -2px;
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	line-height: 60.399999px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

}

/* visited links in nav*/
li a:visited{
	color: white;
}

/* hovering over links in nav*/
li a:hover{
	color: #B7B7B7;
}

#title{
	font-family: 'Open Sans';
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 10px;
	color: white;
}

#coffeehop {
	font-size: 40px;
    font-weight: bold;
}

#subtitle{
	clear: both;
	font-family: 'Open Sans';
	font-weight: lighter;	
	color: #C6F3EA;
}

hr{
	margin-bottom: -20px;
	width: 90%;
}

/*---Navbar---*/
#navbar{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#navbar li{
	display: inline-block;
	padding-left: 45px;
	padding-right: 45px;
}

#home{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: lighter;		
}

#about {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: lighter;		
}

#signup {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: lighter;
}

/*---University List---*/
#university_list ul {
	text-align: center;
    padding: 0;
    margin: 0;
}

/*----About Page----*/
.about-text {
    text-align: justify;
	font-family: 'Open Sans';	
	font-size: 14px;
	font-weight: lighter;	
	color: white;
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	margin-top: -25px;
}
#word {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

#example {
    text-align: justify;
    font-family: 'Open Sans';   
    font-size: 14px;
    font-weight: lighter;   
    color: white;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-style: italic;
}

#about_desc {
    color: #C6F3EA;
    font-weight: lighter;
    font-size: 14px;
}

/*----Signin/Signup----*/

.new_user {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #AD8C6B;
    margin: 0 auto;
}

.logo {
    width: 213px;
    height: 36px;
    background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
    margin: 30px auto;
}

.new_user h1 {
	font-family: Montserrat;
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.new_user input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
}

.new_user input#user_email {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.new_user input#user_email:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.new_user input#user_password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}


.new_user input#user_username {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.new_user input#user_password_confirmation {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
    padding: 0 20px 0 50px;
}

.new_user input#user_password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.new_user input#user_username:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.new_user input#user_password_confirmation:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}
.new_user input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.button {
    width: 100%;
    height: 40px;
    background: #99B8DB;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background: #B6C1CE;
}

.register_signin {
    text-align: center;
    font-family: "Open Sans";
}

.register_signin a {
    color: #B7B7B7;
    font-style: normal;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.register_signin a:visited{
    color: #B7B7B7;
}

.register_signin a:hover{
    color: #ff656c;
}

/*---- Home/University Page ----*/

#university_list {
    text-align: center;
}

.university_box {
    border: 2px solid white;
    width: 300px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    color: #71C6B5;
    font-weight: bold;
}

.university_box a:link{
    color: #ECFDFA;
    letter-spacing: -1px;
    font-size: 40px;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
}

.university_box a:visited{
    color: #C6F3EA;
}

.university_box a:hover{
    color: #B7B7B7;
}

/*---- Coffeeshop Show Page ----*/

#coffee_header {
    text-transform: uppercase;
    font-family: 'Montserrat';
    text-align: center;
}

#rate {
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: lighter;
}

.bar_container {
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 597px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#radio_fullness {
    margin-top: 30px;
    font-family: 'Open Sans'
}

#post_description {
    margin-top: 20px;
    width: 70%;
    height: 90px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Montserrat;
    outline: none;
    padding: 5px;
}

.post_button {
    width: 100px;
    height: 30px;
    background: #99B8DB;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align: center;
}

.post_button:hover {
    background: gray;
}

.description {
    text-align: center;
    margin-top: 50px;
    font-family: Montserrat;
}

#divider{
    margin-top: 28px;
    margin-bottom: 10px;
    width: 200px;
}

/*---- User Pages ----*/
.user_list {
    text-align: center;
}

.profile_link {
    font-family: "Open Sans";
    color: white;
}

.profile_link a:link{
    color: #ECFDFA;
  /*  letter-spacing: -1px;
    font-size: 40px;*/
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 3px;
}

.profile_link a:visited{
    color: #C6F3EA;
}

.profile_link a:hover{
    color: #B7B7B7;
}

#user_num {
    text-align: center;
    font-family: "Open Sans";
    font-size: 25px;
}

/*---- User show page ----*/

.logout_btn {
    width: 15%;
    height: 40%;
    background: #99B8DB;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid white;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: 5px;
}

.logout_btn:hover {
    background: gray;
}

.welcome {
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 15px;
    margin: 5px;
}