/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #2A2A2A;
    color: white;
}

#title img {
    width: 48px;
    height: 48px;
    position: relative;
    left: 10px;
    top: 10px;
    -webkit-filter: invert(100%);
}

 /* for event links on home page*/
li a:link{
	text-align: left;
	padding: 0;
	margin: 0;
	color: white;
	letter-spacing: -2px;
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	line-height: 60.399999px;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

}

/* visited links in nav*/
li a:visited{
	color: white;
}

/* hovering over links in nav*/
li a:hover{
	color: #B7B7B7;
}


/*---- Title/Header ----*/
#title{
	font-family: 'Futura';
    font-weight: bold;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 10px;
	color: white;
}

#title h1 {
    letter-spacing: -3px;
}

#coffeehop {
	font-size: 40px;
    font-weight: bold;
}

#subtitle{
	clear: both;
	font-family: 'Open Sans';
	font-weight: lighter;	
	color: #C6F3EA;
}

hr{
	margin-bottom: -20px;
	width: 90%;
}

/*---Navbar---*/
#navbar{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#navbar li{
	display: inline-block;
	padding-left: 45px;
	padding-right: 45px;
}

#home{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: lighter;		
}

#about {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: lighter;		
}

#signup {
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: lighter;
}

/*----About Page----*/
.about-text {
    text-align: justify;
	font-family: 'Open Sans';	
	font-size: 14px;
	font-weight: lighter;	
	color: white;
	width: 770px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	margin-top: -25px;
}
#word {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

#example {
    text-align: justify;
    font-family: 'Open Sans';   
    font-size: 14px;
    font-weight: lighter;   
    color: white;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-style: italic;
}

#about_desc {
    color: #C6F3EA;
    font-weight: lighter;
    font-size: 14px;
}